langchain==0.3.14
langchain_community==0.3.14
langchain_openai==0.3.0
chromadb==0.6.3
openai==1.59.7
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.159.0
pytz==2024.2
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20